@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* Cores da pagina */
    --body-color: #dedada;
    --sidebar-color: #fcf9f9;
    --corPrimaria: #ffffff;
    --corSecundaria: #57B4CE;
    --toggle-color:#dedada;
    --corFonte: #171717;
    --switch-color: #ffffff;


    /* Transição */
    --transition-1: all 0.2s ease;
    --transition-2: all 0.3s ease;
    --transition-3: all 0.4s ease;
    --transition-4: all 0.5s ease;
}

body.dark{
    /* Cores da pagina */
    --body-color: #18191a;
    --sidebar-color: #242526;
    --corPrimaria: #3a3b3c;
    --corSecundaria: #57b4ce;
    --corFonte: #ccc;
    --toggle-color: #57b4ce;
    --switch-color: #ccc;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    overflow: hidden;
    box-sizing: border-box;
}


.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--corFonte);
    cursor: default;
    position: relative;
    height: 100vh;
    top: 0;
    width: 250px;
    background-color: var(--sidebar-color);
    border-radius: 0px 15px 15px 0px;
    padding: 10px 15px;
}

.side header .toggle {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: -7%;
    transform: translateY(-80%);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--corSecundaria);
    border-radius: 50%;
    border: 2px solid var(--sidebar-color);
}

.side .textHeader {
    font-size: 25px;
}

.side .pages {
    margin-top: 45%;
    display: flex;
    height: 25vh;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.side .opt a {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: var(--corFonte);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    transition: var(--transition-2);
}

.side .opt a:hover {
    background-color: var(--corSecundaria);
}

.side .icon {
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side .bottom {
    height: 8vh;
    font-size: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bottom .mode a,
.bottom .logout a{
    color: var(--corFonte);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    transition: var(--transition-2);
}


.bottom .logout a:hover{
    background-color: var(--corSecundaria);
}

.mode{
    display: flex;
    gap: 20px;
}

.mode .toggle-switch{
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 60px;
}

.toggle-switch .switch{
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background-color: var(--toggle-color);
}

.switch::before{
    content: '';
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--switch-color);
    cursor: pointer;
    transition: var(--transition-2);
}

body.dark .switch::before{
    left: 24px;

}