:root {
    /* Cores da pagina */
    --body-color: #f3f3f3;
    --sidebar-color: #ffffff;
    --cor-primaria: #ffffff;
    --cor-secundaria: #57B4CE;
    --hover-color: #f5f5f5;
    --toggle-color: #dedada;
    --cor-fonte: #171717;
    --cor-fonte-sec: #505050;
    --switch-color: #ffffff;
    --cor-underline: #989898;
    --box-shadow: rgba(39, 39, 39, 0.1);

  }
  
  body.dark {
    /* Cores da pagina */
    --body-color: #18191a;
    --sidebar-color: #242526;
    --cor-primaria: #242526;
    --cor-secundaria: #57b4ce;
    --hover-color: #57c4ce;
    --cor-fonte: #ffffff;
    --cor-fonte-sec: #f1f1f1;
    --toggle-color: #57b4ce;
    --switch-color: #ffffff;
    --cor-underline: #eaeaea;
    --box-shadow: rgba(87, 180, 206, 0.8);
  }

@media only screen and (max-height: 686px) {
    
    .bottom__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        transform: translateY(6.3rem);
    }
    
    .bottom__links .menu__box-links {
        width: 8.7rem;
    }
    
    .mode{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .text span {
        display: none;
    }
    
    .menu__lista {
        transform: translateY(-13%);
    }
    
    
}

.menu {
    border-right: 2px solid var(--toggle-color);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color);
}

.content__first-elements {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    /* align-items: center; */
}

.content__title {
    font-size: 2.5rem;
    margin-bottom: 8px;
    color: var(--cor-secundaria);
    font-weight: 500;
}

.content__separation {
    height: 2px;
    background-color: var(--toggle-color);
    width: 100%;
    margin-bottom: 20px;
}

.content__subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--cor-fonte);
}

.content__inputs {
    display: flex;
    width: 100%;
    margin-top: 45px;
    justify-content: space-between;
    gap: 50px;
}

.content label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--cor-fonte);
}

.content input {
    width: 100%;
    height: 40px;
    padding: 16px;
    font-size: 1rem;
    border: var(--toggle-color) 2px solid;
    background-color: var(--cor-primaria);
    color: var(--cor-fonte);
    box-shadow: 0px 2px 5px 0px var(--box-shadow) ;
}

.content select {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    font-size: 1rem;
    border: var(--toggle-color) 2px solid;
    background-color: var(--cor-primaria);
    box-shadow: 0px 2px 5px 0px var(--box-shadow);
    color: var(--cor-fonte);
}

.content__first-option {
    color: var(--cor-fonte);
}

.content input:focus-visible {
    transition: 1s;
    border: var(--cor-secundaria) 2px solid;
}

.content input::placeholder {
    font-size: 0.8rem;
    opacity: 0.5;
    color: var(--cor-fonte);
}

.content__inputs-nome {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__inputs-celular {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__inputs2 {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    gap: 50px;
}

.content__inputs-email {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__inputs-cargo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__inputs3 {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    gap: 50px;
}

.content__inputs-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__inputs-senha {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div__gerar-senha {
    display: flex;
    justify-content: end;
}

.content__button-senha {
    width: 50%;
    height: 40px;
    background-color: var(--cor-secundaria);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 1rem;
    color: var(--switch-color);
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--cor-secundaria);
    
}

.content__button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__button-button {
    width: fit-content;
    padding: 8px 16px;
    background-color: #57B4CE;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    transition: 0.3s;
}

.content__button-button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.content__button-button:active {
    transition: 0.3s;
    transform: scale(0.98);
}



