
:root {
    /* Cores da pagina */
    --body-color: #f3f3f3;
    --sidebar-color: #ffffff;
    --cor-primaria: #ffffff;
    --cor-secundaria: #57B4CE;
    --hover-color: #f5f5f5;
    --toggle-color: #dedada;
    --cor-fonte: #171717;
    --cor-fonte-sec: #505050;
    --switch-color: #ffffff;
}

body.dark {
    /* Cores da pagina */
    --body-color: #18191a;
    --sidebar-color: #242526;
    --cor-primaria: #242526;
    --cor-secundaria: #57b4ce;
    --hover-color: #57c4ce;
    --cor-fonte: #ffffff;
    --cor-fonte-sec: #f1f1f1;
    --toggle-color: #57b4ce;
    --switch-color: #ffffff;


}


.mode{
    white-space: nowrap;
}

@media only screen and (max-height: 686px) {
    
    .bottom__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        transform: translateY(6.3rem);
    }
    
    .bottom__links .menu__box-links {
        width: 8.7rem;
    }
    
    .mode{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .text span {
        display: none;
    }
    
    .menu__lista {
        transform: translateY(-13%);
    }
    
    
}

.h5,hr{
    color: var(--cor-fonte);
}

.content .title {
    width: 80%;
    height: 3.875rem;
    margin-top: 5rem;
    margin-left: 10rem;
}

.span_title h1{
    color: var(--cor-secundaria);
}

.content .separation{
    padding: 0;
    margin-left: 0;
    margin: 0 auto;
}

.content .underbar {
    margin-top: 1rem;
    margin-left: 10rem;
    height: 2px;
    width: 46.25rem;
    background-color: var(--body-color);
}

.content .subtitle {
    width: 80%;
    height: 1.875rem;
    margin: 0 auto;
    margin-left: 0;
}

.content .subtitle .span_subtitle {
    font-size: 1.25rem;
}

.content .form {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
    margin-top: 2.875rem;
    margin-left: 10rem;
}

.content .form label {
    font-size: 1rem;
    width: 20.25rem;
    color: var(--cor-fonte);
}

.content .form input {
    padding: 5px;
    text-align: left;
    background-color: var(--cor-primaria);
    border: var(--cor-secundaria) 1px solid;;
    width: 324px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 20px;
    border-radius: .3rem;
    color: var(--cor-fonte);
}

.content .form input:focus-visible{
    transition: 1s;
    border: var(--cor-secundaria) 1px solid;
}

.content .form input::placeholder {
    font-size: 0.8rem;
    opacity: 0.6;
    color: var(--cor-fonte-sec);
}

.content .first-form{
    position: relative;
    right: 15%;
}

.content .first-column{
    position: relative;
    left: 5%;
}
.content .second-column{
    position: relative;
    left: 20%;
}

.content .bt {
    cursor: pointer;
    width: 160px;
    height: 34px;
    background-color: var(--cor-primaria);
    color: var(--cor-fonte);
    font-size: 1.125rem;
    font-weight: 500;
    border-radius:4px;
}

.bt:hover{
    background-color: var(--cor-secundaria);
}

.btn{
    background-color: var(--cor-secundaria);
    font-weight: 500;
    font-size: 20px;
    border: 0;
}

.btn:hover{
    background-color: var(--cor-secundaria);
}