@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* Cores da pagina */
    --body-color: #f3f3f3;
    --sidebar-color: #ffffff;
    --cor-primaria: #ffffff;
    --cor-secundaria: #57B4CE;
    --hover-color: #f5f5f5;
    --toggle-color: #dedada;
    --cor-fonte: #171717;
    --cor-fonte-sec: #505050;
    --switch-color: #ffffff;
}

body.dark {
    /* Cores da pagina */
    --body-color: #18191a;
    --sidebar-color: #242526;
    --cor-primaria: #242526;
    --cor-secundaria: #57b4ce;
    --hover-color: #57c4ce;
    --cor-fonte: #ffffff;
    --cor-fonte-sec: #f1f1f1;
    --toggle-color: #57b4ce;
    --switch-color: #ffffff;


}


::-webkit-scrollbar {
    width: 5px;
    background-color: var(--cor-primaria);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    border-radius: 5px;
}


.dashboard {
    display: flex;
    background-color: var(--sidebar-color);
}

a {
    color: var(--cor-fonte);
}

ion-icon {
    color: var(--cor-fonte);
}

.menu {
    height: 100vh;
    width: 300px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu__imagem {
    width: 100px;
    margin-top: 3.125rem;
}

.menu__bibliotech {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--cor-fonte-sec);
    margin-bottom: 4rem;
}

.menu__lista {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__box-links {
    width: 75%;
    background-color: var(--cor-primaria);
    height: 50px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding-left: 0.875rem;
    margin-bottom: 0.5rem;
    position: relative;
    border-radius: 10px;
}

.menu__mode-links {
    background-color: var(--sidebar-color);

}


.menu__box-links:hover {
    background-color: var(--hover-color);
}

.full__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menu__link {
    color: var(--cor-fonte);
    font-size: 1.125rem;
    font-weight: 500;
    margin-left: 0.725rem;
}

.menu .menu__open {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.open__cadastro {
    cursor: pointer;
}

.open__cadastro img {
    width: 12px;
}

.menu__sub-items.closed {
    animation: 0.2s menu__close forwards;
}

.menu__sub-items.open {
    animation: 0.2s menu__open forwards;
}

@keyframes menu__open {
    0% {
        display: block;
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu__close {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.menu__sub-item {
    gap: 0.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
}

.menu__sub-item:first-of-type {
    margin-bottom: 0.5rem;
}

.menu__sub-item .menu__icon {
    font-size: 0.5rem;
    color: var(--cor-fonte);
}

.menu__icon {
    font-size: 1.375rem;
    color: var(--cor-fonte);
}

.menu__sub-item:hover {
    transition: 0.5s;
    transform: scale(0.95);
}



.mode {
    color: var(--cor-fonte);
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

.bottom__links {
    position: relative;
    transform: translateY(4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mode-text {
    color: var(--cor-fonte);
    font-weight: 500;
}

.span__text {
    color: var(--cor-fonte);
}

.mode .toggle-switch {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background-color: var(--toggle-color);
}

.switch::before {
    content: '';
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--switch-color);
    transition: all 0.3s ease-in-out;
}

body.dark .switch::before {
    left: 24px;
}

@media only screen and (max-height: 686px) {

    .bottom__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        transform: translateY(6.3rem);
    }

    .bottom__links .menu__box-links {
        width: 8.7rem;
    }

    .mode {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .text span {
        display: none;
    }

    .menu__lista {
        transform: translateY(-13%);
    }


}

.content {
    height: calc(100vh - 2rem);
    width: calc(100% - 300px);
    background-color: var(--body-color);
    margin: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 0px 5px 5px 0px;
}

.header__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--body-color);
    height: 60%;
    margin-bottom: 0;
    border-radius: 10px;
}

.card__kpi {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    border-radius: 10px;
}


.card__header-top,
.card__header-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card__header-top {
    border-radius: 10px 0px 0px 0px;
}

.card__header-bot {
    border-radius: 0px 0px 0px 10px;
}


.cardt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    height: 90%;
    width: 48%;
    border-radius: 10px;
    gap: 1rem;
}

.cardt .card__title {
    color: var(--cor-fonte);
    font-size: 1rem;
    font-weight: 500;
}

.cardt .card__sub {
    color: var(--cor-secundaria);
    font-size: 2rem;
    font-weight: 700;
}

.spec {
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
    width: 39.5%;
    height: 95%;
    border-radius: 10px;

}

.card__spec {
    width: 100%;
    height: 100%;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title__spec {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title__spec span {
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}


.trace {
    background-color: var(--cor-fonte);
    width: 90%;
    height: .01rem;
    margin-left: 5%;
}

.spec__content {
    color: var(--cor-fonte);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: .3rem;
    padding: .5rem;
}

.spec__content span {
    margin-left: 1.3rem;
    color: var(--cor-fonte);
}

.alt {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--body-color);
}



.content__bottom {
    display: flex;
    height: 100%;
}

.content__bottom-dashGeral {
    width: 50%;
    margin: 0 14px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
}

.content__bottom-dashRede {
    width: 50%;
    margin: 0 14px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
}

h1,
h3 {
    color: var(--cor-fonte);
}

.content__bottom h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2px;
}

.content__bottom-graficoGeral {
    background-color: var(--cor-primaria);
    height: 90%;
    border-radius: 10px;
}

.chartJS {
    margin-top: 1%;
    padding: 1%;

}

.content__bottom-graficoRede {
    background-color: var(--cor-primaria);
    height: 90%;
    border-radius: 10px;
}

.chartJSRede {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    margin-top: 1%;
    padding: 1%;
}

.content__bottom-statusGeral,
.content__bottom-statusRede {
    height: 10%;
    background-color: var(--cor-primaria);
    margin: 10px 0;
    display: flex;
}

.content__bottom-statusGeral h1,
.content__bottom-statusRede h1 {
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--cor-secundaria);
}

.statusGeral__box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 30%;
}

.active-graph {
    border: 1px solid var(--cor-secundaria);
    opacity: 100%;
}

#changeStatus__disco,
#changeStatus__memoria,
#changeStatus__cpu {
    cursor: pointer;
    width: 100%;
}

.statusGeral__box.active-graph {
    animation: 0.5s transitionBox forwards;
}

@keyframes transitionBox {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content__bottom-statusRede {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #57B4CE;
}


/* DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-primaria);
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 16px;
    z-index: 1;
    border-radius: 10px;
}


.dropdown a {
    text-decoration: none;
    color: var(--cor-fonte);
}

.dropdown:hover .dropdown-content {
    display: block;
}


body {
    font-family: Roboto, sans-serif;
}

#Rede {
    width: 100%;
    height: 100%;
}


#Cpu {
    position: relative;
    width: 100%;
    height: 100%;
}

#Disco {
    position: relative;
    width: 100%;
    height: 100%;
}

#Memoria {
    position: relative;
    width: 100%;
    height: 100%;
}