:root {
    /* Cores da pagina */
    --body-color: #f3f3f3;
    --sidebar-color: #ffffff;
    --cor-primaria: #ffffff;
    --cor-secundaria: #57B4CE;
    --hover-color: #f5f5f5;
    --toggle-color: #dedada;
    --cor-fonte: #171717;
    --cor-fonte-sec: #505050;
    --switch-color: #ffffff;
    --cor-underline: #989898;
    --box-shadow: rgba(39, 39, 39, 0.1);

  }
  
  body.dark {
    /* Cores da pagina */
    --body-color: #18191a;
    --sidebar-color: #242526;
    --cor-primaria: #242526;
    --cor-secundaria: #57b4ce;
    --hover-color: #57c4ce;
    --cor-fonte: #ffffff;
    --cor-fonte-sec: #f1f1f1;
    --toggle-color: #57b4ce;
    --switch-color: #ffffff;
    --cor-underline: #eaeaea;
    --box-shadow: rgba(87, 180, 206, 0.8);
  }

.dashboard-especifico {
    display: flex;
    background-color: var(--cor-primaria);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--sidebar-color);
}

.dashboard {
    display: flex;
    background-color: var(--sidebar-color);
}

a {
    color: var(--cor-fonte);
}

ion-icon {
    color: var(--cor-fonte);
}

.menu {
    height: 100vh;
    width: 300px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu__imagem {
    width: 100px;
    margin-top: 3.125rem;
}

.menu__bibliotech {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--cor-fonte-sec);
    margin-bottom: 4rem;
}

.menu__lista {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__box-links {
    width: 75%;
    background-color: var(--cor-primaria);
    height: 50px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding-left: 0.875rem;
    margin-bottom: 0.5rem;
    position: relative;
    border-radius: 10px;
}

.menu__mode-links {
    background-color: var(--sidebar-color);

}


.menu__box-links:hover {
    background-color: var(--hover-color);
}

.full__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menu__link {
    color: var(--cor-fonte);
    font-size: 1.125rem;
    font-weight: 500;
    margin-left: 0.725rem;
}

.menu .menu__open {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.open__cadastro {
    cursor: pointer;
}

.open__cadastro img {
    width: 12px;
}

.menu__sub-items.closed {
    animation: 0.2s menu__close forwards;
}

.menu__sub-items.open {
    animation: 0.2s menu__open forwards;
}

@keyframes menu__open {
    0% {
        display: block;
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu__close {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.menu__sub-item {
    gap: 0.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
}

.menu__sub-item:first-of-type {
    margin-bottom: 0.5rem;
}

.menu__sub-item .menu__icon {
    font-size: 0.5rem;
    color: var(--cor-fonte);
}

.menu__icon {
    font-size: 1.375rem;
    color: var(--cor-fonte);
}

.menu__sub-item:hover {
    transition: 0.5s;
    transform: scale(0.95);
}

.mode {
    color: var(--cor-fonte);
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

.bottom__links {
    position: relative;
    transform: translateY(4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mode-text {
    color: var(--cor-fonte);
    font-weight: 500;
}

.span__text {
    color: var(--cor-fonte);
}

.mode .toggle-switch {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background-color: var(--toggle-color);
}

.switch::before {
    content: '';
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--switch-color);
    transition: all 0.3s ease-in-out;
}

body.dark .switch::before {
    left: 24px;
}

@media only screen and (max-height: 660px) {

    .bottom__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        transform: translateY(2.7rem);
    }

    .bottom__links .menu__box-links {
        width: 8.7rem;
    }

    .mode{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .text span {
        display: none;
    }

    .menu__lista {
        transform: translateY(-13%);
    }


}


.content {
    height: calc(100vh - 2rem);
    width: calc(100% - 300px);
    background-color: var(--body-color);
    margin: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
}

.content__bottom {
    display: flex;
    height: 60%;
}

.content__bottom-dashGeral {
    width: 50%;
    margin: 0 14px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
}

.content__bottom-dashRede {
    width: 50%;
    margin: 0 14px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
}

h1,h3{
    color: var(--cor-fonte);
}
.content__bottom h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2px;
}

.content__bottom-graficoGeral {
    background-color: var(--cor-primaria);
    height: 90%;
    border-radius: 10px;
}

.chartJS {

    margin-top: 1%;
    padding: 1%;
}

.content__bottom-graficoRede {
    background-color: var(--cor-primaria);
    height: 90%;
    border-radius: 10px;
}

.chartJS2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    margin-top: 1%;
    padding: 1%;
}

.content__bottom-statusGeral,
.content__bottom-statusRede {
    height: 10%;
    background-color: var(--cor-primaria);
    margin: 10px 0;
    display: flex;
}

.content__bottom-statusGeral h1,
.content__bottom-statusRede h1 {
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--cor-secundaria);
}

.statusGeral__box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 30%;
}

.active-graph {
    border: 1px solid #57B4CE;
    opacity: 100%;
}

#changeStatus__disco,
#changeStatus__memoria,
#changeStatus__cpu {
    cursor: pointer;
    width: 100%;
}

.statusGeral__box.active-graph {
    animation: 0.5s transitionBox forwards;
}

@keyframes transitionBox {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content__bottom-statusRede {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #57B4CE;
}

.content__top {
    background-color: var(--cor-primaria);
    height: 40%;
    margin: 14px;
    margin-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;

}

.content__top-indicadores {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content__top-indicadores h1 {
    font-weight: 500;
    font-size: 1.725rem;
    margin-bottom: 15px;
    position: absolute;
    top: 6px;
}

.alert__boxes {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 10px;
}

.alerta__perigo-alto,
.alerta__atencao-alto,
.alerta__ok,
.alerta__atencao-baixo,
.alerta__perigo-baixo {
    width: 100%;
    height: 40px;
    min-height: 40px;
    border-radius: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.alerta__perigo-alto {
    background-color: #FFAFB5;
}

.alerta__perigo-alto img {
    width: 2.5rem;
    height: 2.125rem;
    margin-left: 6px;
}

.alerta__atencao-alto {
    background-color: #FFCD82;
}

.alerta__atencao-alto img {
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 10px;
}

.alerta__ok {
    background-color: #B2FFBB;
}

.alerta__ok img {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 10px;
}

.alerta__atencao-baixo {
    background-color: #95D9FF;
}

.alerta__atencao-baixo img {
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 10px;
}

.alerta__perigo-baixo {
    background-color: #C6EDFF;
}

.alerta__perigo-baixo img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 6px;
}

.content__top-divisao {
    width: 2px;
    height: 95%;
    margin: 0 10px;
    background-color: #C3C3C3;
}

.content__top-alertasRecentes {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.content__top-alertasRecentes h1 {
    font-weight: 500;
    font-size: 1.725rem;
    margin-bottom: 20px;
    position: absolute;
    top: 6px;
}

.content__top-boxAlertas {
    display: flex;
    width: 96%;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-right: 10px;
    overflow-y: scroll;
}

.boxAlertas__left,
.boxAlertas__right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.boxAlertas__alerta h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 2px;
}

.boxAlertas__alerta .alerta__box {
    height: 60px;
    width: 100%;
    border: 1px solid #FF0000;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.boxAlertas__alerta .alerta__box h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 15px;
}

.boxAlertas__alerta .alerta__box h2 {
    font-size: 1.875rem;
    font-weight: 500;
    color: #FF0000;
}

@media screen and (max-height: 750px) {
    .alert__boxes {
        overflow-y: scroll;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--toggle-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    border-radius: 5px;
}

@media screen and (min-width: 1370px) {
    .content__top-alertasRecentes {
        flex-grow: 1.2;
    }
}


.dropdown {
    position: relative;
    display: inline-block;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-primaria);
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 16px;
    z-index: 1;
    border-radius: 10px;  
}


.dropdown a {
    text-decoration: none;
    color: var(--cor-fonte);
}

.dropdown:hover .dropdown-content {
    display: block;
}