main {
    display: flex;
}

.content {
    background-color: #F3f3f3;
    width: calc(100% - 300px);
    height: calc(100vh - 2rem);
}

.content h1 {
    font-size: 2.5rem;
    margin-left: 18px;
    margin-top: 4px;
    margin-bottom: 6px;
    font-weight: 500;
    color: #57B4CE;
}

.content__percent {
    width: calc(100% - 18px);
    height: 100%;
    display: flex;
    margin-left: 18px;
    gap: 12px;
}

.percent60 {
    display: flex;
    flex-direction: column;
    width: 56%;
    max-height: 100%;
}

.percent40 {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
    width: 44%;
    height: 100%;
}

.percent60__kpi-top {
    width: 100%;
    height: 17%;
    display: flex;
    gap: 15px;
}

.first__kpi-top {
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
}

.second__kpi-top {
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
}

.percent60__kpi-bottom {
    width: 100%;
    height: 17%;
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.first__kpi-bottom {
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
}

.second__kpi-bottom {
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
}

.percent40__kpi-top {
    display: flex;
    width: 100%;
    height: 17% !important;
    gap: 15px;
}

.percent40__kpi-top .first__kpi-top {
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
}

.percent10__graph {
    width: 100%;
    height: 50%;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.percent10__graph h1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
}

.percent40 .percent40__kpi-internet {
    height: 30%;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.upload-download {
    display: flex;
    height: 70%;
}

.percent40__kpi-internet .upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 18px;
}

.percent40__kpi-internet .download {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 18px;
}

.percent40__kpi-internet .internet__separation {
    width: 2px;
    background-color: #00000023;
    height: calc(100% - 18px);
    margin-top: 18px;
}

.percent40__kpi-internet h3 {
    font-size: 1rem;
    font-weight: 500;
}

.percent40__kpi-internet .upload__value {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 18px;
    color: #57B4CE;
}

.percent40__kpi-internet .download__value {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 18px;
    color: #57B4CE;
}

.percent40__kpi-internet h4 {
    font-size: 1rem;
    font-weight: 500;
}

.percent40__kpi-internet .ip__rede {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    align-items: center;
}

.percent40__kpi-internet .ip__rede h3 {
    margin-top: 10px;
}

.percent40__kpi-internet .ip__rede .id__ip {
    font-weight: 500;
    font-size: 1rem;   
}

.percent10__graph #myChart {
    width: 85% !important;
}

.content__table {
    width: 100%;
    height: 66%;
    margin-top: 15px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.25rem;
}

.content__table-top {
    display: flex;
    height: 15%;
    gap: 12px;
}

.content__top-left {
    width: 70%;
}

.content__top-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__top-right h3 {
    font-size: 0.875rem;
    font-weight: 500;
}

.content__top-right .maquinas__value {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 6px;
}

.content__top-right .maquinas__value .maquinas__atual {
    font-size: 1.25rem;
    font-weight: 500;
}

.content__top-right .maquinas__value .maquinas__total {
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 50%;
}

.content__top-separation {
    width: 1px;
    background-color: #00000023;
}

.content__table h1 {
    font-size: 1.25rem;
    margin: 0;
}

.content__table p {
    font-size: 0.75rem;
    margin: 0;
}

.content__table-separation {
    height: 1px;
    background-color: #00000023;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content__table-table {
    max-height: 80%;
    overflow-y: scroll;
    padding-right: 6px;
}

.data__table {
    width: 100%;
}

.content__table-top {
    padding-right: 12px;
}

.table__header .header__th {
    font-size: 0.875rem;
    font-weight: 500;
    color: #00000080;
    padding: 10px 0px;
}

.table__header th:first-of-type {
    width: 17%;
}

.table__header th:last-of-type {
    width: 6%;
}

.data__table th {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    width: 15%;
}

.data__table th:first-of-type {
    width: 17%;
    padding-left: 5px;
}

.data__table th:last-of-type {
    width: 6%;
}

.content__table-table th {
    padding: 10px 0;
}
