:root {
  /* Cores da pagina */
  --body-color: #f3f3f3;
  --sidebar-color: #ffffff;
  --cor-primaria: #ffffff;
  --cor-secundaria: #57B4CE;
  --hover-color: #f5f5f5;
  --toggle-color: #dedada;
  --cor-fonte: #171717;
  --cor-fonte-sec: #505050;
  --switch-color: #ffffff;
}

body.dark {
  /* Cores da pagina */
  --body-color: #18191a;
  --sidebar-color: #242526;
  --cor-primaria: #242526;
  --cor-secundaria: #57b4ce;
  --hover-color: #57c4ce;
  --cor-fonte: #ffffff;
  --cor-fonte-sec: #f1f1f1;
  --toggle-color: #57b4ce;
  --switch-color: #ffffff;
}

.content {
    background-color: var(--sidebar-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
    gap: 20px;
}

.content__image {
    width: 40%;
}

.content__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__text h1 {
    font-size: 2rem;
    color: #5DBDD8;
    margin-bottom: 20px;
}

.content__text p {
    font-size: 1.3rem;
    color: var(--cor-fonte);
}

.button {
    --width: 150px;
    --height: 40px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #5DBDD8;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .download {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.download,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .download {
    top: 0
  }
  
  .download,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #4db3cf;
  }
  
  .button:hover .download {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  

  