@import url(main.css);

.header {
    width: 100%;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
}

.header .container-header {
    margin-top: 18px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.header ul {
    display: flex;
    justify-content: center;
}

.header a, li {
    color: black;
    padding: 0 4px;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
}

.header li::after {
    margin-top: 2px;
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background-color: black;
    transition: 0.5s;
}

.header li:hover::after {
    width: 100%;
}

.low-opacity {
    opacity: 50%;
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title h1 {
    color: #57B4CE;
    margin-top: 14px;
    font-size: 3.75rem;
}

.container-title p {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 30px;
    padding-bottom: 10px;
}

.container-index {
    background-image: url(../img/Book\ background.jpg);
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.container-index .content {
    display: flex;
    width: 80%;
    gap: 66px;
}

.container-index .content img {
    margin-top: 85px;
}

.container-index .security-control {
    margin-top: 118px;
}

.container-index .security-control h2 {
    color: #57B4CE;
    font-size: 2.5rem;
    margin-bottom: 18px;
}

.container-index .security-control p {
    font-size: 1.125rem;
    text-align: justify;
    text-indent: 32px;
    font-weight: 500;
}

.container-about-us {
    background-color: white;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-about-us .about-us {
    display: flex;
    width: 80%;
    gap: 66px;
}

.container-about-us .about-us .text-about-us h2 {
    color: #57B4CE;
    margin-top: 90px;
    font-size: 2.5rem;
}

.container-about-us .about-us .text-about-us p {
    margin-top: 16px;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: justify;
    text-indent: 32px;
}

@keyframes flutuar {
    0%   {top: 0px;}
    50%  {top: 120px;}
    100% {top: 0px;}
  }

@keyframes flutuar2 {
    0%   {top: 50px;}
    50%  {top: 250px;}
    100% {top: 50px;}
  }

.container-about-us .about-us .books {
    display: flex;
    margin-top: 120px;
}

.container-about-us .about-us .book1 {
    animation: flutuar 8s infinite;
    position: relative;
}

.container-about-us .about-us .book2 {
    animation: flutuar2 10s infinite;
    position: relative;
}

.container-about-us .about-us .book3 {
    animation: flutuar 9s infinite;
    position: relative;
    animation-delay: 1s;
}


.container-values {
    background-image: url(../img/Book\ background.jpg);
    height: 530px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-values .text-values h2 {
    color: #57B4CE;
    margin-top: 74px;
    font-size: 2.5rem;
}

.container-values .box-values {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.container-values .box-value1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    height: 200px;
}

.container-values .box-value2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 200px;
    height: 200px;
}

.container-values .box-value3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 200px;
    height: 200px;
}

.container-values .box-values img {
    margin-top: 12px;
    width: 200px;
    height: 200px;
}

.container-values .box-values p {
    margin-top: 12px;
}

.container-values .box-values h3 {
    margin-top: 42px;
}

.services {
    background-color: white;
    height: 530px;
    display: flex;
    justify-content: center;
}

.container-services {
    display: flex;
    width: 80%;
    gap: 66px;
}

.container-services img {
    margin-top: 100px;
}

.container-services h2 {
    color: #57B4CE;
    margin-top: 88px;
    font-size: 2.5rem;
}

.container-services p {
    text-align: justify;
    text-indent: 32px;
    font-weight: 500;
    margin-top: 16px;
    font-size: 1.125rem;
}

.footer {
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer {
    background-color: #E9E9E9;
    height: 200px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.container-footer .boxes {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-footer .box1 {
    margin-top: 10px;
    background-color: red;
    width: 180px;
    height: 100px;
}

.container-footer .box2 h3, .box3 h3 {
    margin-bottom: 14px;
}

.container-footer .box2 p, .box3 p {
    margin-bottom: 5px;
}

.container-reserved-rights {
    background-color: #E9E9E9;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
