@import url(main.css);

.header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: 70px;
    display: flex;
    justify-content: center;
}

.header .container-header {
    margin-top: 18px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.header ul {
    display: flex;
    justify-content: center;
}

.header a,
li {
    color: black;
    padding: 0 4px;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
}

.header li::after {
    margin-top: 2px;
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background-color: black;
    transition: 0.5s;
}

.header li:hover::after {
    width: 100%;
}

.low-opacity {
    opacity: 50%;
}

.header-nav {
    display: none;
}

@media screen and (max-width: 600px) {
    .header {
        display: none;
    }

    .header-nav {
        margin-top: 6px;
        display: flex;
        flex-direction: row-reverse;
    }

    .btn-nav {
        margin-right: 20px;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: rgba(235, 235, 235, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        font-size: 2rem;
        font-weight: 700;
        color: rgb(107, 107, 107);
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f8f8f8;
    }

    .overlay .closebtn {
        position: absolute;
        top: -18px;
        right: 6px;
        font-size: 60px;
    }
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container-title h1 {
    color: #57B4CE;
    margin-top: 14px;
    font-size: 3.75rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.container-img{
    display: flex;
    width: 10%;
    flex-direction: row;
    justify-content: center;
}

.container-img .img_title {
    width: 160px;
    height: 120px;
    background-image: url(../img/logo\ bibliotech\ 190px.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 600px) {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-title {
        width: 100%;
    }

    .container-title h1 {
        font-size: 3rem;
        align-self: center;
        justify-content: center;
    }

    .container-img{
        display: flex;
        position: relative;
        align-self: flex-start;
        float: left;
        float: inline-start;
    }

    .container-img .img_title{
        width: 90px;
        height: 70px;
    }
}

.container-index {
    background-image: url(../img/Book\ background.jpg);
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.container-index .content {
    display: flex;
    width: 80%;
    gap: 66px;
}

.container-index .content img {
    margin-top: 85px;
}

.container-index .security-control {
    margin-top: 118px;
}

.container-index .security-control h2 {
    color: #57B4CE;
    font-size: 2.5rem;
    margin-bottom: 18px;
}

.container-index .security-control p {
    font-size: 1.125rem;
    text-align: justify;
    text-indent: 32px;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .container-index {
        height: 720px;
    }

    .container-index .content {
        display: flex;
        flex-direction: column;
    }

    .container-index .content img {
        height: 280px;
        margin-top: 0;
    }

    .container-index .security-control {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-index .security-control h2 {
        font-size: 1.5rem;
    }

    .container-index .security-control p {
        font-size: 1rem;
    }
}

.container-about-us {
    background-color: white;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-about-us .about-us {
    display: flex;
    width: 80%;
    gap: 66px;
}

.container-about-us .about-us .text-about-us h2 {
    color: #57B4CE;
    margin-top: 90px;
    font-size: 2.5rem;
}

.container-about-us .about-us .text-about-us p {
    margin-top: 16px;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: justify;
    text-indent: 32px;
}

@keyframes flutuar {
    0% {
        top: 50px;
    }

    50% {
        top: 120px;
    }

    100% {
        top: 0px;
    }
}

@keyframes flutuar2 {
    0% {
        top: 50px;
    }

    50% {
        top: 250px;
    }

    100% {
        top: 0px;
    }
}

@keyframes flutuarResponsivo {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 120px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes flutuar2Responsivo {
    0% {
        bottom: 50px;
    }

    50% {
        bottom: 200px;
    }

    100% {
        bottom: 50px;
    }
}

.container-about-us .about-us .books {
    display: flex;
    margin-top: 120px;
}

.container-about-us .about-us .book1 {
    animation: flutuar 8s infinite;
    position: relative;
}

.container-about-us .about-us .book2 {
    animation: flutuar2 10s infinite;
    position: relative;
}

.container-about-us .about-us .book3 {
    animation: flutuar 9s infinite;
    position: relative;
    animation-delay: 1s;
}

@media screen and (max-width: 600px) {
    .container-about-us {
        height: 750px;
        display: flex;
        align-items: center;
    }

    .container-about-us .about-us {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
        height: 100%;
    }

    .container-about-us .about-us .books {
        margin-top: 0px;
    }

    .container-about-us .about-us .text-about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-about-us .about-us .text-about-us h2 {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .container-about-us .about-us .text-about-us p {
        margin-top: 18px;
        font-size: 1rem;
    }

    .container-about-us .about-us .text-about-us p:last-of-type {
        margin-bottom: 50px;
    }

    .books img {
        width: 120px;
        height: 80px;
    }

    .container-about-us .about-us .book1 {
        animation: flutuarResponsivo 8s infinite;
        position: relative;
    }

    .container-about-us .about-us .book2 {
        animation: flutuar2Responsivo 10s infinite;
        position: relative;
    }

    .container-about-us .about-us .book3 {
        animation: flutuarResponsivo 9s infinite;
        position: relative;
        animation-delay: 1s;
    }
}

.container-values {
    background-image: url(../img/Book\ background.jpg);
    height: 530px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-values .text-values h2 {
    color: #57B4CE;
    margin-top: 74px;
    font-size: 2.5rem;
}

.container-values .box-values {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.container-values .box-value1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    height: 30%;
}

.container-values .box-value2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    height: 30%;
}

.container-values .box-value3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    height: 30%;
}

.container-values .box-value3 img {
    margin-top: 12px;
    width: 163px;
    height: 200px;
}

.container-values .box-value1 img, .box-value2 img {
    margin-top: 12px;
    width: 200px;
    height: 200px;
}

.container-values .box-values p {
    margin-top: 12px;
    text-align: center;
}

.container-values .box-values h3 {
    margin-top: 42px;
    color: #5e5e5e;
}

@media screen and (max-width: 600px) {
    .container-values {
        height: 900px;
    }

    .container-values .text-values h2 {
        margin-top: 50px;
        font-size: 1.5rem;
    }

    .container-values .box-values {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .container-values .box-value1 img, .box-value2 img {
        margin-top: 12px;
        width: 100px;
        height: 100px;
    }

    .container-values .box-value3 img {
        margin-top: 12px;
        width: 82px;
        height: 100px;
    }

    .container-values .box-values h3 {
        font-size: 1.125rem;
        margin-top: 42px;
    }

    .container-values .box-value1{
        width: 100%;
    }

    .container-values .box-value2{
        width: 100%;
    }

    .container-values .box-value3{
        width: 100%;
    }
}

.services {
    background-color: white;
    height: 530px;
    display: flex;
    justify-content: center;
}

.container-services {
    display: flex;
    width: 80%;
    gap: 66px;
}

.container-services img {
    margin-top: 100px;
}

.container-services h2 {
    color: #57B4CE;
    margin-top: 88px;
    font-size: 2.5rem;
}

.container-services p {
    text-align: justify;
    text-indent: 32px;
    font-weight: 500;
    margin-top: 16px;
    font-size: 1.125rem;
}

@media screen and (max-width: 600px) {
    .services {
        height: 720px;
        display: flex;
    }

    .container-services {
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 0px;
    }

    .container-services img {
        margin-top: 80px;
        width: 350px;
        height: 224px;
    }

    .container-services h2 {
        margin-top: 50px;
        font-size: 1.5rem;
    }

    .container-services .text-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-services p {
        font-size: 1rem;
    }
}

.footer {
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer {
    background-color: #E9E9E9;
    height: 200px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.container-footer .boxes {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-footer .box1 {
    margin-top: 10px;
    background-image: url(../img/logo\ bibliotech\ 190px.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 120px;
}

.container-footer .box2 h3,
.box3 h3 {
    margin-bottom: 14px;
}

.container-footer .box2 p,
.box3 p {
    margin-bottom: 5px;
}

.container-reserved-rights {
    background-color: #E9E9E9;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .container-footer {
        height: 200px;
        width: 80%;
    }

    .container-footer .box1 {
        display: none;
    }

    .container-reserved-rights {
        text-align: center;
        width: 80%;
        font-size: 0.8rem;
    }

    .container-footer .box3 h3 {
        margin-left: 40px;
    }

    .container-footer .box3 .contact {
        margin-left: 10px;
    }
}

.footer .container-footer .box3 .contact .img_house, .img_mail, .img_phone {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;

}

.footer .container-footer .box3 .contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer .container-footer .box3 .contact .img_phone, .img_house{
    margin-left: -3px;
}