@import url(main.css);

body{
    margin: 0;
    color: black;
    background-image: url("../img/Background\ Login\ e\ Cadastro.jpg");
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
.header .content_header {
  margin-top: 18px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.header ul {
  display: flex;
  justify-content: center;
  

}
.header a, li {
  color: black;
  padding: 0 4px;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
}
.header li::after {
  margin-top: 2px;
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background-color: black;
  transition: 0.5s;
}
.header li:hover::after {
  width: 100%;
}
.low-opacity {
  opacity: 50%;
}
.main_login {
    width: 910px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: auto;
    margin-top: 5%; 
  }
  .left_login {
    width: 910px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left_login h1 {
    color: rgb(24, 24, 23);
    font-size: 6vh;
  }
  .left_login h2 {
    color: rgb(29, 28, 27);
    font-size: 3vh;
    
  }
  .content_login{
display: flex;
justify-content: center;
flex-direction: column;
  }
 .content_login h2{
    font-size: 15px;
  }
.left_img{
    width: 80vh;
}
.right_login {
    width: 50vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
  }
  .text_fild{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  img{
    width: 100%;
    height: 100%;
  }
  html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5;
  }
  
 