*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
   
}
.main_login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left_login {
    width: 60vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .left_login h1 {
    color: rgb(24, 24, 23);
    font-size: 6vh;
  }
  .left_login h2 {
    color: rgb(29, 28, 27);
    font-size: 3vh;
    
  }
.left_img{
    width: 55vh;
}
.right_login {
    width: 60vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }