body {
    background-image: url(../img/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header .container-header {
    display: flex;
    justify-content: flex-start;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.login-data {
    width: 600px;
    height: 500px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login-data h1 {
    font-size: 2.25rem;
    color: #57B4CE;
    margin-top: 25px;
    margin-left: 32px;
}

.login-data .top-text {
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 32px;
    margin-top: 6px;
}

.login-data .separation {
    height: 1px;
    background-color: #DFDFDF;
    width: 532px;

    margin-top: 8px;
    margin-left: 32px;
}

.input-label-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label:first-of-type {
    margin-top: 65px;
}

.login label:last-of-type {
    margin-top: 16px;
}

.login label {
    font-weight: 500;
    font-size: 1rem;
}

.login input {
    margin-top: 6px;
    width: 40%;
    height: 32px;
    background-color: #F6F6F6;
    padding: 16px;
    font-size: 1rem;
    border: rgba(221, 221, 221, 0.8) 1px solid;
}

.login input:focus-visible {
    transition: 1s;
    border: #57B4CE 1px solid;
}

.login input::placeholder {
    font-size: 0.8rem;
    opacity: 0.5;
}

.btn-login {
    width: 20%;
    padding: 6px;
    background-color: #57B4CE;
    border-radius: 16px;
    font-size: 1rem;
    color: white;
    margin-top: 44px;
    cursor: pointer;
}

.btn-login:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.btn-login:active {
    transition: 0.3s;
    transform: scale(0.97);
}

.input-label-login p {
    text-decoration: underline;
    margin-top: 18px;
    font-size: 0.7rem;
    font-weight: 400;
}

.loading {
    display: none;
}

.login-image {
    height: 500px;
    background-color: #fff;
}

.login-image img {
    height: 500px;
}

@media screen and (max-width: 600px) {
    .header {
        display: none;
    }

    .login {
        margin-top: 0;
        align-items: center;
    }

    .login-image {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-nav {
        margin-top: 20px !important;
        background-color: white;
        width: 90%;
    }

    .header-nav img {
        margin-top: 6px;
    }

    .login-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        width: 90%;
        height: 89vh;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .login-data h1 {
        margin-left: 0;
    }

    .login-data .top-text {
        margin-left: 0px;
        margin-top: 12px;
        font-size: 1rem;
        text-align: center;
    }

    .login-data .separation {
        width: 85%;
        margin-left: 0;
    }

    .input-label-login label {
        font-size: 1.125rem;
        margin-bottom: 6px;
    }

    .input-label-login input {
        width: 100%;
        padding: 16px;
    }

    .input-label-login button {
        width: 60%;
        padding: 8px;
    }

    .input-label-login p {
        font-size: 0.8rem;
    }

    .header-nav {
        background-color: white;
        margin-top: 20px;
        width: 90%;
    }
}

/* Animação de carregamento */
.background_loader {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.scanner span {
    color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    overflow: hidden;
  }
  
  .scanner span::before {
    content: "Entrando...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #57B4CE;
    overflow: hidden;
    color: #57B4CE;
    animation: load91371 2s linear infinite;
  }
  
  @keyframes load91371 {
    0%, 10%, 100% {
      width: 0;
    }
  
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
      border-right-color: transparent;
    }
  
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
      border-right-color: #57B4CE;
    }
  
    60%, 80% {
      width: 100%;
    }
  }

#cardErro, #cardErroLogin {
    display: none;
    margin-top: 5%;
    font-size: 1.2rem;
    opacity: 0;
    color: #57B4CE;
    font-weight: 500;
  }

.aparecerErro {
    display: block;
    animation: aparecerErro 0.5s forwards;
}

.desaparecerErro {
    animation: desaparecerErro 0.5s forwards;
}

  @keyframes aparecerErro {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }

  @keyframes desaparecerErro {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-15px);
    }
  }

