/* FONTE PADRÃO DO SITE  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*  */


/* RESETAR A ESTILIZAÇÃO PADRÃO NOS NAVEGADORES PARA NÃO OCORRER BUGS NA ESTILIZAÇÃO  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  background: none;
  list-style: none;
}

[data-move] {
  opacity: 0;
  transition: 0.5s;
}

[data-move="left"] {
  transform: translate3d(-80px, 0, 0);
}

[data-move="right"] {
  transform: translate3d(80px, 0, 0);
}

[data-move="top"] {
  transform: translate3d(0, -30px, 0);
}

[data-move="bottom"] {
  transform: translate3d(0, 30px, 0);
}

[data-move].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}